__pycache__
*.pyc
.vscode/*
*.egg-info/
*.log
*.hdf5
**/build/
*.thumbs/
*log/*
**/install/**
**/not_used/**
**/old/**
**NOT_USED.py
**OLD.py
.venv
debug/

# Documentation
docs/superpowers/
**/_source/
**/_api/
**/_build/
public/*
docs/doxygen/html/*
docs/doxygen/xml/*

# Data
**/data/
**/output/
videos/
*.code-workspace
pyrightconfig.json

${data}/*
checkpoints/*
valpa/
logs/
droid/

assets/backgrounds/*
assets/fixtures/*
assets/materials/*
assets/objects/*
assets/robots/*
assets/scenes/*
!assets/scenes/macaroni_center_table.usda
!assets/scenes/apple_plate_distractors_pickup.usda
!assets/scenes/potato_masher_distractors_pickup.usda
!assets/scenes/angledpickup_ketchup_high_friction.usda
!assets/scenes/angledpickup_banana_high_friction.usda
!assets/scenes/angledpickup_rubiks_cube_high_friction.usda
assets/cameras.usda
assets/wm_tasks/bg_distractors/*

output_reach/
output_*
